#contactPage {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 720px) {
    }
.contactPageTitle {
    font-size: -medium;
    margin-right: auto;
    padding: 2rem 0.5rem;
    justify-content: center;
    align-items: center;
}

.clientDescription {
    font-weight: 50;
    font-size: -5vw;
    align-items: center;
    justify-content: center;
}

.clientImgs {
   margin: 1rem 0;
   display: flex;
   flex-wrap: wrap;
}

.clientImg {
    object-fit: cover;
   width: 23%;
   min-width: 9rem;
   margin: auto;
    padding: 0.25rem;

}

#clients {
    padding: 2rem;
}

.contactDescription {
font-size: smaller;
margin-right: auto;
object-fit: cover;
align-items: center;
justify-content: center;
padding: 2rem;
display: flex;
border-radius: 2rem;
}


.contactForm {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    padding: 12px 20px;
    max-width: 40rem;
    margin: 8px 0;
    color: F8FAE5;
    border: 2px  ;
    border-radius: 4px;
    box-sizing: border-box;
    background: rgb(40, 40, 40);
}

.submitBtn {
    background-color: white;
    border: none;
    color: white;
    padding: 16px 32px;
    border-radius: 0.5rem;
    margin: 4px 2rem;
  cursor: pointer;
}

.links {
    display: flex;
    flex-wrap: wrap;
}

.link {
    object-fit: cover;
    height: 3rem;
    width: 2rem;
    margin: 0 0.75rem;
}